body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 폰트 변경 */
    margin: 40px;
    background-color: #f4f7f6; /* 배경색 변경 */
    color: #333; /* 기본 텍스트 색상 변경 */
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 추가 */
    background-color: white; /* 배경색 변경 */
    overflow: hidden; /* 테이블 내용이 넘칠 경우 숨김 처리 */
}

table, th, td {
    border: 1px solid #e1e1e1; /* 테두리 색상 변경 */
}

th, td {
    padding: 16px 24px; /* 셀 패딩 조정 */
    text-align: left;
    font-size: 14px; /* 폰트 크기 조정 */
}

th {
    background-color: #007bff; /* 헤더 배경색 변경 */
    color: white; /* 헤더 폰트 색상 변경 */
    font-size: 16px; /* 헤더 폰트 크기 조정 */
}

a {
    text-decoration: none;
    color: #007bff; /* 링크 색상 변경 */
    font-weight: 500; /* 폰트 무게 변경 */
}

a:hover {
    text-decoration: underline;
    color: #0056b3; /* 호버 시 링크 색상 변경 */
}

/* 추가적인 세련된 디자인을 위해 */
tr:nth-child(even) {background-color: #f2f2f2;} /* 짝수 행 배경색 변경 */
tr:hover {background-color: #ddd;} /* 행 호버 시 배경색 변경 */

/* 스크롤바 디자인 */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
